/* You can add global styles to this file, and also import other style files */
.container-fluid{
    height: 100vh !important;
    overflow-y: scroll;
    padding-bottom: 12vw;
}
td{
    text-align: center;
}
.modal-dialog{
    max-width: none !important;
    margin: 0 auto !important;
    width: 95vw !important;
}
::-webkit-scrollbar{
    width: 0vw;
}