  <app-header></app-header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Apprenez Aujourd'hui,<br>Conduisez Demain</h1>
      <h2>Nous représentons la meilleure equipe en matiere d'apprentissage de la conduite</h2>
      <a href="/pricing" class="btn-get-started">Nos Tarifs</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://www.goafricaonline.com/uploads/media/company_media/0002/45/60f159cc8a23c-interieur-auto-ecole-pacifique-benin.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Nous sommes depuis des années la référence en matière d'apprentissage de la conduite.</h3>
            <p class="fst-italic">
              L'auto-école Pacifique depuis un certains nombre d'années s'impose de part son savoir faire dans le dommaine de l'apprentissage de la conduite.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Nous vous apprenons la conduite dans la théorie en vous inculquant les notions essentielles à la signalisation routière.</li>
              <li><i class="bi bi-check-circle"></i> Nous vous faisons faire la pratique afin de vous habituer à ce qu'est la conduite à proprement parler.</li>
              <li><i class="bi bi-check-circle"></i> Nous vous accompagnons dans l'obtention de votre certification attestant de votre aptitude à conduire un engins deux, trois ou quatres roues.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter">{{counter}}</span>
            <p>Etudiants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter">{{counter1}}</span>
            <p>Permis délivrés</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter">{{counter2}}</span>
            <p>Types de Permis</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">{{counter3}}</span>
            <p>Coachs</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Pourquoi choisir Pacifique?</h3>
              <p>
                Notre auto-école occupe une place de choix parmi les meilleures auto-écoles du Bénin et de l'Afrique avec son taux incroyable de 75 à 95%.
              </p>
              <div class="text-center">
                <a href="/about" class="more-btn">En Savoir Plus <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Très bonne pédagogie</h4>
                    <p>L'auto-ecole Pacifique mets à disposition de ses apprenants les outils nécessaires à leur bonne documentation à savoir une application Android et IOS des projections d'exercices.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Grande variété de permis</h4>
                    <p>Nous mettons à votre disposition un large panel de permis.Vous avez donc le choix entre les permis (A1,A2,A3, pour les motos), (C et C1 pour les camions), (DR et D pour les minibus et bus). </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Accompagnement des entreprises</h4>
                    <p>Nous accompagnons vos entreprises dans le dispensement des cours de recyclages de vos conducteurs.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->

  <app-footer></app-footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
