<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Pacifique</h3>
            <p>
              Rue de l'église Bakhita, Aïdjèdo<br>
              Abomey-Calavi<br>
              Bénin <br><br>
              <strong>Phone:</strong> +229 95 84 72 68 <br>
              <strong>Email:</strong> autoecolepacifiquefirst@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/informations">Pièces à fournir</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">A propos de nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/pricing">Tarifs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/recyclage">Récyclage</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Pacifique</span></strong>. Touts droits réservés
        </div>
        <div class="credits">
          Designed by <a routerLink="https://nomads-developper.web.app/">Nomades Developpers</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a routerLink="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a routerLink="#" class="google-plus"><i class="bx bxl-google"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->